/* Define base font size */
html {
  font-size: 100%; /* 100% of the browser's default font size (usually 16px) */
}

body {
  background-color: #f0f8ff !important;
  font-size: 1rem; /* 16px */
  /* height:100vh; */
}

html,
body {
  height: 100%;
  margin: 0;
}

:root {
  --blue-700: #094298; /*bootstrap blue 700 */
}

.btn-blue-700 {
  background-color: var(--blue-700);
  color: #ffffff;
}

/* Responsive font size */
.font-14 {
  font-size: 0.875rem; /* 14px */
}

.font-12 {
  font-size: 0.75rem; /* 12px */
}

.d-flex {
  align-items: center;
}

.profiletop {
  color: #ffffff;
}

.center {
  /* display: block; */
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  padding: 30px 40px;
}

.label {
  text-align: left;
}

/* .right {
  float: right;
} */

/* table,
td,
th {
  border: 1px solid #dee2e6;
  border-collapse: collapse;
  padding: 5px;
} */

.rounded {
  border-radius: 0.375rem;
  border: 1px solid #dee2e6;
}

input[type="submit"] {
  /* background-color: rgb(97, 97, 189);
  color: white;
  padding: 2px; */
  margin: 15px;
}

.gradient-text {
  background-image: linear-gradient(45deg, #031633, #0d6efd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.6;
}

.disabled-input {
  background-color: #808080;
}

.display-side-by-side {
  display: inline-block;
}

footer {
  background-color: #ffffff; /* Set footer background color */
  border-top: 1px solid #dee2e6;
  /* position: relative; */
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  text-align: center; /* Optional: Center footer content */
  align-items: center; /* Center vertically */
  bottom: 0;
  height: 50px; /* Set footer height */
}

  .index-page footer {
    position: relative; /* Set footer to be relative */
} 

/* Banner Styles */
.banner {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center; /* Center vertically */
}

.banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 340px; /* Adjust as needed */
}

.bg-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  ); /* Gradient overlay */
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 5%; /* Align content to the left */
  transform: translateY(-50%); /* Center vertically */
  text-align: left;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  box-sizing: border-box; /* Ensure padding does not affect width */
}

.banner-content h1 {
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.banner-content p {
  font-size: 1.25rem;
  max-width: 45%; /* Adjust this value as needed */
  line-height: 1.6; /* Improve readability */
}

/* Responsive Banner Content */
@media (max-width: 768px) {
  .banner-content {
    width: 90%;
  }
  .banner-content h1 {
    font-size: 1.5rem;
  }
  .banner-content p {
    font-size: 1rem;
    max-width: 70%; /* Adjust for smaller screens */
  }

  .center {
    width: 100%;
    padding: 24px;
  }

  footer {
    position: absolute;
  }

  input.btn.btn-primary {
    margin: 4px 0;
  }

}

@media (max-width: 576px) {
  .banner-content {
    width: 95%;
  }
  .banner-content h1 {
    font-size: 1rem;
  }
  .banner-content p {
    font-size: 0.875rem;
    max-width: 80%; /* Adjust for mobile screens */
  }

  input.btn.btn-primary {
    margin: 4px 0;
  }

  footer {
    position: absolute;
  }

  th {
    font-size: 0.875rem;
  }

  td {
    font-size: 0.875rem;
  }

  .card-body {
    font-size: 0.875rem;
  }

}

/* Homepage Card Styles */
.card {
  text-align: left;
}
