/* Define base font size */
html {
    font-size: 100%; /* 100% of the browser's default font size (usually 16px) */
}

body {
  background-color: #f0f8ff !important;
  font-size: 1rem; /* 16px */
  /* height:100vh; */
}

:root {
  --blue-700: #094298; /*bootstrap blue 700 */
}

.btn-blue-700 {
  background-color: var(--blue-700);
  color: #ffffff;
}

/* Responsive font size */
.font-14 {
    font-size: 0.875rem; /* 14px */
}

.font-12 {
    font-size: 0.75rem; /* 12px */
}

.d-flex {
  align-items: center;
}

.profiletop {
  color: #ffffff;
}

.center {
  width: fit-content;
  margin: auto;
  text-align: center;
  padding: 30px 40px;
}

.label {
  text-align: left;
}

/* .right {
  float: right;
} */

/* table,
td,
th {
  border: 1px solid #dee2e6;
  border-collapse: collapse;
  padding: 5px;
} */

.rounded {
  border-radius: 0.375rem;
  border: 1px solid #dee2e6;
}

input[type="submit"] {
  /* background-color: rgb(97, 97, 189);
  color: white;
  padding: 2px; */
  margin: 15px;
}

.gradient-text {
  background-image: linear-gradient(45deg, #031633, #0d6efd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.6;
}

.disabled-input {
  background-color: #808080;
}

.display-side-by-side {
  display: inline-block;
}

footer {
  background-color: #ffffff; /* Set footer background color */
  border-top: 1px solid #dee2e6;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  text-align: center; /* Optional: Center footer content */
  align-items: center; /* Center vertically */
  bottom: 0;
  height: 50px; /* Set footer height */
}
