<!DOCTYPE html>
<html lang="en">

<head th:replace="~{components :: head}">
</head>

<body>
    <div th:replace="~{components :: nav}"></div>
    <div th:replace="~{components :: right}"></div>
    <div class="center">
        <h2 class="gradient-text">Add Roles</h2>
        <form action="/saverole">
            <table>
                <tr>
                    <td><label for="name">Role Name</label></td>
                    <td><input type="text" name="name" id="name"></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="ADD" class="btn btn-primary"></td>
                </tr>
            </table>

        </form>
    </div>
</body>

</html>