<!DOCTYPE html>
<html lang="en">

<head th:replace="~{components :: head}"></head>

<body>
    <div th:replace="~{components :: nav}"></div>

    <div class="center">
        <h2 class="gradient-text">Add Transaction</h2>
        <form action="/transactions/save" class="table-responsive rounded">
            <table class="table table-bordered table-hover align-middle mb-0">
                <tr>
                    <td class="label"><label for="tid">Transaction Id</label></td>
                    <td><input type="number" id="tid" name="tid" value="0" class="form-control form-control-sm"
                            aria-label="Disabled input example" readonly></td>
                    <!-- <td><input type="number" id="aid" name="aid" class="form-control form-control-sm"></td> -->
                </tr>
                <tr>
                    <td class="label"><label for="ttype" class="form-label">Transaction Type</label></td>
                    <td>
                        <div class="col-sm-12">
                            <select name="ttype" id="ttype" class="form-select form-select-sm"
                                aria-label="Transaction Type">
                                <option value="" selected>Select Transaction Type</option>
                                <option th:each="type : ${transactionTypes}" th:value="${type}" th:text="${type}">
                                </option>
                            </select>
                        </div>
                    </td>
                    <!-- <td>
                        <select name="atype" id="atype" class="form-control form-control-sm">
                            <option th:each="type : ${accountTypes}" th:value="${type}" th:text="${type}"></option>
                        </select>
                    </td> -->
                </tr>
                <!-- Transaction Date field removed since it is set automatically -->
                <!-- <tr>
                    <td class="label"><label for="tdate">Transaction Date</label></td>
                    <td><input type="date" id="tdate" name="tdate" required class="form-control form-control-sm"></td>
                </tr> -->
                <tr>
                    <td class="label"><label for="tamt">Transaction Amount</label></td>
                    <td><input type="number" id="tamt" name="tamt" required class="form-control form-control-sm">
                    </td>
                </tr>
                <tr>
                    <td class="label"><label for="aacct">Select Account</label></td>
                    <td>
                        <select id="aacct" name="aacct" class="form-control form-control-sm">
                            <option value="" selected>Select Account</option>
                            <!-- <option th:each="type : ${accountTypes}" th:value="${type}" th:text="${type}"></option> -->
                            <option th:each="acct : ${accounts}" th:value="${acct.id}" th:text="${acct.id}">
                            </option>
                        </select>
                    </td>
                    </td>
                    <!-- <td><input type="number" id="acust" name="acust" required class="form-control form-control-sm"></td> -->
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="d-grid gap-2 d-md-block">
                            <input type="button" value="BACK" class="btn btn-secondary" onclick="history.back()" />
                            <input type="submit" value="ADD" class="btn btn-primary">
                        </div>
                    </td>
                </tr>
            </table>
        </form>

        <!-- <h1>Add Transaction</h1> -->
        <div th:if="${errorMessage != null}">
            <p style="color:red;" th:text="${errorMessage}"></p>
        </div>
        <form action="#" th:action="@{/save}" method="post"> <!-- Form fields here --> </form>

    </div>

    <footer th:replace="~{components :: footer}">
    </footer>
    <div th:replace="~{components :: scripts}"></div>
</body>

</html>