<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{components :: head}">
</head>

<body class="index-page">
    <div class="wrapper">
        <div th:replace="~{components :: nav}"></div>
        <!-- <span sec:authentication="principal.authorities[0]"></span> -->
        <!-- Banner Section -->
        <div class="banner">
            <img src="/images/banner.jpg" alt="Banner Image - Woman holding a card and a smartphone">
            <div class="bg-overlay"></div>
            <div class="banner-content">
                <h1>Welcome to FinBank</h1>
                <p>Your trusted partner in financial management. Explore our features and start managing your accounts
                    efficiently.</p>
            </div>
        </div>
        <div class="center">
            <!-- <h1 class="gradient-text">Welcome to FinBank Dashboard</h1>
            <h3>The perfect online banking experience for the desperate.</h3> -->
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4">
                <!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4"> -->
                <div class="col">
                    <div class="card d-flex flex-column h-100">
                        <img src="/images/customers.jpg" class="card-img-top" alt="Smiling woman with a grocery basket">
                        <div class="card-body flex-grow-1 w-100">
                            <h5 class="card-title">Customers</h5>
                            <p class="card-text">List of customers with Add, Edit and Delete function</p>
                            <a href="/customers/list" class="btn btn-primary me-2">View more</a>
                            <a href="/customers/add" class="card-link">Add customer</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card d-flex flex-column h-100">
                        <img src="/images/accounts.jpg" class="card-img-top" alt="Green plant in clear glass cup">
                        <div class="card-body flex-grow-1 w-100">
                            <h5 class="card-title">Accounts</h5>
                            <p class="card-text">List of accounts with Add, Edit and Delete function</p>
                            <a href="/accounts/list" class="btn btn-primary me-2">View more</a>
                            <a href="/accounts/add" class="card-link">Add account</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card d-flex flex-column h-100">
                        <img src="/images/transactions.jpg" class="card-img-top" alt="Person holding a credit card scanning against a payment device
">
                        <div class="card-body flex-grow-1 w-100">
                            <h5 class="card-title">Transactions</h5>
                            <p class="card-text">List of transactions with Add function</p>
                            <a href="/transactions/list" class="btn btn-primary me-2">View more</a>
                            <a href="/transactions/add" class="card-link">New transaction</a>
                        </div>
                    </div>
                </div>
                <div class="col" sec:authorize="hasAnyAuthority('ADMIN')">
                    <div class="card d-flex flex-column h-100">
                        <img src="/images/users.jpg" class="card-img-top"
                            alt="Person holding iPhone with password protected">
                        <div class="card-body flex-grow-1 w-100">
                            <h5 class="card-title">Users</h5>
                            <p class="card-text">List of users and roles with Add, Edit and Delete function</p>
                            <a href="/users/list" class="btn btn-primary me-2">View more</a>
                            <a href="/users/add" class="card-link">Add user</a>
                            <a href="/users/newrole" class="card-link">Add role</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="~{components :: footer}">
        </footer>
        <div th:replace="~{components :: scripts}"></div>
    </div>
</body>

</html>