<!DOCTYPE html>
<html lang="en">

<head th:replace="~{components :: head}">

<body>
    <div th:replace="~{components :: nav}"></div>
    <div class="center">
        <h2 class="gradient-text">View all Accounts</h2>

        <form class="d-grid gap-2 d-md-flex justify-content-md-end my-4" action="/search" method="get">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="term" />
            <button class="btn btn-outline-primary btn-blue-700" type="submit">
                Search
            </button>

        </form>

        <div class="table-responsive rounded">
            <table class="table table-bordered table-hover align-middle mb-0">
                <thead>
                    <tr>
                        <th class="table-light">Account Id</th>
                        <th class="table-light">Account Type</th>
                        <th class="table-light">Balance</th>
                        <th class="table-light">Date Opened</th>
                        <th class="table-light">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="acct : ${accounts}">
                        <td th:text="${acct.id}"></td>
                        <td th:text="${acct.accountType}"></td>
                        <td th:text="${acct.balance}"></td>
                        <td th:text="${acct.openDate}"></td>
                        <td>
                            <a th:href="@{/edit/{aid} (aid=${acct.id})}"><i class="fa fa-edit"
                                    aria-hidden="true"></i></a>
                            &nbsp;
                            <a th:href="@{/delete/{aid} (aid=${acct.id})}"><i class="fa fa-trash"
                                    aria-hidden="true"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <form action="/accounts/add" class="display-side-by-side">
            <input type="submit" value="Add New Account" class="btn btn-primary">
        </form>

    </div>
    <footer th:replace="~{components :: footer}">
    </footer>
    <div th:replace="~{components :: scripts}"></div>
</body>

</html>